* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}

.select2-search [type=search] {
  outline-offset: 0 !important;
}

.select2-selection {
  outline: none !important;
}

#app {
  background-image: url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: aliceblue;
  width: 400px;
  height: 450px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#app .city {
  font-size: 27px;
}

#app .country {
  margin-left: 5px;
  font-size: 20px;
}

#app .time {
  font-size: 16px;
}

#app .temp {
  font-size: 60px;
  line-height: 65px;
}

#app .description {
  font-size: 17px;
  max-width: 150px;
}

#app .description::first-letter {
  text-transform: capitalize;
}

#app .forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

#weather-icon {
  zoom: 0.8;
}

.js-example-basic-single {
  width: 400px;
}
/*# sourceMappingURL=index.css.map */