.overlay {
    @include position(absolute, 0, 0, 0, 0);
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}

.select2-search [type=search] {
    outline-offset: 0 !important;
}

.select2-selection {
    outline: none !important;
}
