@mixin position ($type: "absolute", $top: 50%, $left: 50%, $right: 0, 
$bottom: 0) {
    position: $type;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin translate ($translateX: -50%, $translateY: -50%) {
    transform: translate($translateX, $translateY);
}

@mixin flex($justify-content: center, $align-items: center, 
$flex-flow: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-flow: $flex-flow;
}
