@import "variables";
@import "mixin";
@import "reset";
@import "common";

#app {
    background-image: url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aliceblue;
    width: 400px;
    height: 450px;
    padding: 20px;
    @include position(fixed);
    @include translate();
    @include flex(space-between, space-between, column);

    .city {
        font-size: 27px;
    }

    .country {
        margin-left: 5px;
        font-size: 20px;
    }

    .time {
        font-size: 16px;
    }
    
    .temp {
        font-size: 60px;
        line-height: 65px;
    }

    .description {
        font-size: 17px;
        max-width: 150px;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    .forecast {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
    }
}

#weather-icon {
    zoom: 0.8;
}

.js-example-basic-single {
    width: 400px;
}